/* ------------------------------------------------------------------
NAVIGATION
--------------------------------------------------------------------- */
.mainnav {
  position: relative;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin: 0;
  background: #fff;
  box-shadow: 0 0 0 1px #ededed;
}

.navbar-default .navbar-nav>li>a {
  color: #7b8a97;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #65d3e3;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #65d3e3;
}

.navbar-default .navbar-nav>li:focus {
  outline: none;
}


/*TOGGLE BUTTON*/
.navbar-toggle {
  display: block;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 10px 0 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 30px;
  height: 30px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #7b8a97;
  font-size: 12px;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #65d3e3;
  color: #fff;
}

/*search-button*/
.search-button {
  display: inline-block;
  margin: 10px 22px 0px 30px;
}

.search-button a {
  display: block;
  color: #7b8a97;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}

.search-button a:hover {
  background-color: #65d3e3;
  color: #fff;
}

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 9999;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}

#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #65d3e3;
  border-color: #65d3e3;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

#search .close:hover {
  background-color: #333;
}

#search,
#search .close {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ------------------------------------------------------------------
DROPDOWN CSS
---------------------------------------------------------------------*/
.dropdown-menu {
  border: 0;
  border-radius: 0;
  position: relative;
  display: block;
  float: none;
  width: 100%;
  background: #11151c;
  margin: 0;
  padding: 15px 0;
  box-shadow: none;
}

li.dropdown a span {
  font-size: 12px;
  margin-left: 5px;
}

.nav.navbar-nav li ul.dropdown-menu li a {
  padding: 7px 20px;
  font-size: 15px;
  color: #7e828b;
  line-height: 24px;
  display: inline-block;
  /* text-transform: capitalize; */
}

.nav.navbar-nav li ul.dropdown-menu li a:hover,
.nav.navbar-nav li ul.dropdown-menu li a:focus {
  color: #65d3e3;
  background-color: transparent;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
  color: #65d3e3 !important;
  background-color: transparent;
}

/* 2nd label caret */
.dropdown .dropdown-menu .dropdown .caret {
  position: absolute;
  right: 10px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  top: 15px;
}

.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus {
  background-color: #65d3e3;
  color: #fff !important;
}

.lk {
  margin-left: 25px;
}


/* Menu hover */

/* 2nd label menu */

li.dropdown > .submenu-wrapper {
  position: absolute;
  display: block;
  left: 0;
  z-index: 999;
  pointer-events: none;
  top: 30px;
 /* Will change on theme specific */;
}

.sticky li.dropdown > .submenu-wrapper > .submenu-inner {
  margin-top: 21px;
}

/** IE pointer events */

li.dropdown > .submenu-wrapper.no-pointer-events {
  display: none;
}

li.dropdown > .submenu-wrapper > .submenu-inner {
  margin-top: 25px;
  opacity: 0;
  filter: alpha(opacity=0);
 /* For IE8 and earlier */
  -webkit-transform: translateY(5%);
  -moz-transform: translateY(5%);
  -ms-transform: translateY(5%);
  -o-transform: translateY(5%);
  transform: translateY(5%);
    /* Will change on theme specific */
  min-width: 200px;
    /* Will change on theme specific */
    /*
    ease-in-out, 
    easeOutBack   = cubic-bezier(0.175, 0.885, 0.32, 1.275)
    easeInOutCirc = cubic-bezier(0.785, 0.135, 0.15, 0.86)
    easeInOutBack = cubic-bezier(0.68, -0.55, 0.265, 1.55)
    */
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/*for IE9*/
.ie9 li.dropdown > .submenu-wrapper > .submenu-inner {
  margin-top: 34px;
}

/*for IE9*/
.ie9 .top-nav-collapse li.dropdown > .submenu-wrapper > .submenu-inner {
  margin-top: 14px;
}

li.dropdown:hover > .submenu-wrapper {
  pointer-events: auto;
}

li.dropdown:hover > .submenu-wrapper.no-pointer-events {
  display: block;
}

li.dropdown:hover > .submenu-wrapper > .submenu-inner {
  opacity: 1;
  filter: alpha(opacity=100);
 /* For IE8 and earlier */
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

li.dropdown.menu-animating > .submenu-wrapper {
  overflow: hidden;
}

/* 3rd label menu */

li.dropdown > .submenu-sub-wrapper {
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
  z-index: 1000;
  width: 100%;
  pointer-events: none;
}

li.dropdown > .submenu-sub-wrapper > .submenu-sub-inner {
  opacity: 0;
  filter: alpha(opacity=0);
 /* For IE8 and earlier */
  -webkit-transform: translateX(5%);
  -moz-transform: translateX(5%);
  -ms-transform: translateX(5%);
  -o-transform: translateX(5%);
  transform: translateX(5%);
    /*
    ease-in-out, 
    easeOutBack   = cubic-bezier(0.175, 0.885, 0.32, 1.275)
    easeInOutCirc = cubic-bezier(0.785, 0.135, 0.15, 0.86)
    easeInOutBack = cubic-bezier(0.68, -0.55, 0.265, 1.55)
    */
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

li.dropdown:hover > .submenu-sub-wrapper {
  pointer-events: auto;
}

li.dropdown:hover > .submenu-sub-wrapper > .submenu-sub-inner {
  opacity: 1;
  filter: alpha(opacity=100);
 /* For IE8 and earlier */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

li.dropdown.menu-animating > .submenu-sub-wrapper {
  overflow: hidden;
}

/*--------------------------- 
MEGA DROPDOWN CSS 
-----------------------------*/
.mainnav .mega-fw {
  position: static;
}

li.dropdown.has-megamenu > .submenu-wrapper {
  width: 100%;
}

li.dropdown.has-megamenu > .megamenu-wrapper {
  top: 40px;
}

li.dropdown.has-megamenu ul.dropdown-menu {
  padding: 20px 15px!important;
}

.dropdown-menu .mega-content .mega-col {
  border-right: 1px solid #242424;
}

.dropdown-menu .mega-content .mega-col:last-child {
  border-right: 0;
}

.dropdown-menu .mega-content ul li a {
  padding: 0!important;
  font-size: 14px!important;
}

.dropdown-menu .mega-content ul.menu-carousel li {
  border: 0 !important;
}

.dropdown-menu .mega-content ul.menu-form li:last-child {
  border: 0 !important;
}

.dropdown-header {
  padding: 0!important;
  margin: 0 0 15px 0;
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Source Sans Pro;
  font-weight: 700;
}

