{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>О компании</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Главная</a></li>
                        <li class="active">О компании</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- about-intro-section -->
<section class="about-intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="about-intro">
                    <p style="color: black;">{{ page.info }}</p>

<!--                    <div class="company-in-number">-->
<!--                        <div class="row">-->
<!--                            <div class="col-xs-4 branch clearfix">-->
<!--                                <i class="flaticon-international34"></i>-->

<!--                                <div class="number-info">-->
<!--                                    <strong><span class="timer">10</span></strong>-->
<!--                                    <span class="facts-description">филиалов</span>-->
<!--                                </div>-->

<!--                            </div> &lt;!&ndash; /.col-sm-3 &ndash;&gt;-->

<!--                            <div class="col-xs-4 employee clearfix">-->
<!--                                <i class="flaticon-logistics31"></i>-->

<!--                                <div class="number-info">-->
<!--                                    <strong><span class="timer">100</span></strong>-->
<!--                                    <span class="facts-description">Сотрудников</span>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; /.col-sm-3 &ndash;&gt;-->

<!--                            <div class="col-xs-4 delivery clearfix">-->
<!--                                <i class="flaticon-logistics20"></i>-->

<!--                                <div class="number-info">-->
<!--                                    <strong><span class="timer">3000</span></strong>-->
<!--                                    <span class="facts-description">Доставок каждый год</span>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; /.col-sm-3 &ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
                </div><!-- /.about-intro -->
            </div><!-- /.col-md-7 -->
            <div class="col-md-5"></div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- /.about-intro-section -->

<!--mission-section -->
<section class="mission-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="our-values">
                    <p>{{ page.our_values }}</p>


                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="our-mission">
                    <p>{{ page.our_mission }}</p>
                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="our-values">
                    <p>{{ page.our_vission}}</p>
                </div>
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!--/.history-section -->

{% endblock %}