{% load static %}
{% load wagtailcore_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ВекторТранс</title>
    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <!-- Bootstrap Core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Flaticon CSS -->
    <link href="{% static '/fonts/flaticon/flaticon.css' %}" rel="stylesheet">
    <!-- font-awesome CSS -->
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="{% static '/css/hippo-off-canvas.css' %}" rel="stylesheet">
    <!-- animate CSS -->
    <link href="{% static '/css/animate.css' %}" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="{% static '/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
    <!-- magnific-popup -->
    <link href="{% static '/css/magnific-popup.css' %}" rel="stylesheet">
    <!-- Main menu -->
    <link href="{% static '/css/menu.css' %}" rel="stylesheet">
    <!-- Template Common Styles -->
    <link href="{% static '/css/template.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="{% static '/css/responsive.css' %}" rel="stylesheet">
    <!-- Authorization / Registration CSS -->
    <link href="{% static '/css/accaunt.css' %}" rel="stylesheet">
    <script src="{% static '/js/vendor/modernizr-2.8.1.min.js' %}"></script>
    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{% static '/js/vendor/html5shim.js' %}"></script>
    <script src="{% static '/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
</head>


<body id="page-top">

<div id="st-container" class="st-container">
    <div class="st-pusher">
        <div class="st-content">
            <header class="header">
                <nav class="top-bar">
                    <div class="overlay-bg">
                        <div class="container">
                            <div class="row">

                                <div class="col-sm-6 col-xs-12">
                                    <div class="call-to-action">
                                        <ul class="list-inline">
                                            <li><a href="#"><i class="fa fa-phone"></i> {{ info.phone }}</a></li>
                                            <li><a href="#"><i class="fa fa-envelope"></i> {{ info.email }}</a></li>
                                        </ul>
                                    </div><!-- /.call-to-action -->
                                </div><!-- /.col-sm-6 -->

                                <div class="col-sm-6 hidden-xs">
                                    <div class="topbar-right">
                                        <!-- <div class="lang-support pull-right">
                                          <select class="cs-select cs-skin-elastic">
                                              <option value="" disabled selected>Language</option>
                                              <option value="united-kingdom" data-class="flag-uk">English</option>
                                              <option value="france" data-class="flag-france">French</option>
                                              <option value="spain" data-class="flag-spain">Spanish</option>
                                              <option value="south-africa" data-class="flag-bd">Bengali</option>
                                          </select>
                                      </div> -->

                                        <ul class="social-links list-inline pull-right">
                                            <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div><!-- /.social-links -->
                                </div><!-- /.col-sm-6 -->

                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.overlay-bg -->
                </nav><!-- /.top-bar -->

<!--                <div id="search">-->
<!--                    <button type="button" class="close">×</button>-->
<!--                    <form>-->
<!--                        <input type="search" value="" placeholder="type keyword(s) here"/>-->
<!--                        <button type="submit" class="btn btn-primary">Search</button>-->
<!--                    </form>-->
<!--                </div>-->

                <nav class="navbar navbar-default" role="navigation">

                    <div class="container mainnav">
                        <div class="navbar-header">
                            <h1 class="logo"><a class="navbar-brand" href="/"><img src="{% static '/img/logo.png' %}"
                                                                                            alt=""></a></h1>

                            <!-- offcanvas-trigger -->
<!--                            <button type="button" class="navbar-toggle collapsed pull-right">-->
<!--                                <span class="sr-only">Toggle navigation</span>-->
<!--                                <i class="fa fa-bars"></i>-->
<!--                            </button>-->

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-collapse">
<!--                            <span class="search-button pull-right"><a href="#search"><i-->
<!--                                    class="fa fa-search"></i></a></span>-->

                            <ul class="nav navbar-nav navbar-right">
                                <!-- Home -->
                                <li class="active"><a href="/">Главная</a></li>

                                <li class="dropdown"><a href="#">Услуги <span class="fa fa-angle-down"></span></a>
                                    <!-- submenu-wrapper -->
                                    <div class="submenu-wrapper">
                                        <div class="submenu-inner">
                                            <ul class="dropdown-menu">
                                                <li><a href="/rent">Аренда оборудования</a></li>
                                                <li><a href="/deliver">Доставка оборудования</a></li>
<!--                                                {% for item in page.services %}-->
<!--                                                {% for service in item.value %}-->
<!--                                                <li><a href="{{ service.page.url }}">{{ service.name }}</a></li>-->

<!--                                                {% endfor %}-->
<!--                                                {% endfor %}-->
<!--                                                <li><a href="pages/delivery.html">Доставка оборудования</a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /submenu-wrapper -->
                                </li>
                                <li><a href="/about">О компании</a></li>
                                <li><a href="/reviews">Отзывы</a></li>
                                <li><a href="/contacts">Контакты</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="/мой-личный-кабинет"><i class="fa fa-home" aria-hidden="true"></i> Личный кабинет</a></li>
                                    <li class="lk"><a href="/logout"><i class="fa fa-user"></i> {{ user.inn}}, {{ user.name }} | Выход</a></li>
                                {% else %}
                                    <li class="lk"><a href="/sign_in"><i class="fa fa-user"></i> Вход</a></li>
                                {% endif %}
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container -->
                </nav>
            </header>

            {% block content %}

            {% endblock %}


            <!-- footer-widget-section start -->
            <section class="footer-widget-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1 col-sm-4">
                            <div class="footer-widget">
                                <h3>Адрес и контакты</h3>
                                <address>
                                    {{ info.address }}<br>

                                    <!-- Google Map Modal Trigger -->
                                    <!-- <button type="button" class="modal-map" data-toggle="modal" data-target="#cssMapModal">Показать на карте</button> -->

                                    <span class="tel">Тел. {{ info.phone }}</span>
                                </address>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-offset-6 col-md-offset-4  col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <h3>ВекторТранс</h3>

                                <ul>
                                    <li><a href="/">О компании</a></li>
                                    <li><a href="/contacts">Контакты</a></li>
                                    <li><a href="/reviews">Отзывы</a></li>
                                    <li><a href="/sitemap">Карта сайта</a></li>
                                </ul>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-4 -->

<!--                        <div class="col-md-4 col-sm-4">-->
<!--                            <div class="footer-widget">-->
<!--                                <h3>Будьте на связи</h3>-->
<!--                                <p>Для подписки на наши новости и предложения введите Ваш Email адрес</p>-->

<!--                                <form class="newsletter-form">-->
<!--                                    <div class="form-group">-->
<!--                                        <label class="sr-only" for="InputEmail1">Email address</label>-->
<!--                                        <input type="email" class="form-control" id="InputEmail1"-->
<!--                                               placeholder="Введите Ваш E-Mail">-->
<!--                                        <button type="submit" class="">Отправить &nbsp;<i class="fa fa-angle-right"></i>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>&lt;!&ndash; /.footer-widget &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; /.col-md-4 &ndash;&gt;-->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.cta-section -->
            <!-- footer-widget-section end -->

            <!-- copyright-section start -->
            <footer class="copyright-section">
                <div class="container text-center">
                    <div class="copyright-info">
                        <span>© 2019 ВекторТранс</span>
                        <div style="float: right;"><a href="/admin">Вход для администраторов</a></div>
                    </div>
                </div><!-- /.container -->
            </footer>
            <!-- copyright-section end -->
        </div> <!-- .st-content -->
    </div> <!-- .st-pusher -->

<!--    &lt;!&ndash; Боковое меню &ndash;&gt;-->
<!--    <div class="offcanvas-menu offcanvas-effect">-->
<!--        <div class="offcanvas-wrap">-->
<!--            <div class="off-canvas-header">-->
<!--                <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas"-->
<!--                        id="off-canvas-close-btn">&times;-->
<!--                </button>-->
<!--            </div>-->
<!--            <ul id="offcanvasMenu" class="list-unstyled visible-xs visible-sm">-->
<!--                <li class="active"><a href="index.html">Главная</a></li>-->

<!--                <li><a href="#">Услуги</a>-->
<!--                    <ul>-->
<!--                        <li><a href="pages/re.html">Аренда оборудования</a></li>-->
<!--                        <li><a href="pages/delivery.html">Доставка оборудования</a></li>-->
<!--                    </ul>-->

<!--                </li>-->
<!--                <li><a href="pages/about.html">О компании</a></li>-->
<!--                <li><a href="pages/contact.html">Контакты</a></li>-->
<!--            </ul>-->
<!--            <div class="offcanvas-widgets hidden-sm hidden-xs">-->
<!--                <div class="newsletter-widget">-->
<!--                    <h2>Будьте на связи</h2>-->
<!--                    <p>Для подписки на наши новости и предложения введите Ваш E-mail адрес</p>-->

<!--                    <form class="newsletter-form">-->
<!--                        <div class="form-group">-->
<!--                            <label class="sr-only" for="InputEmail1">E-Mail address</label>-->
<!--                            <input type="email" class="form-control" id="InputEmail2" placeholder="Введите Ваш E-Mail">-->
<!--                            <button type="submit" class="btn">Отправить &nbsp;<i class="fa fa-angle-right"></i></button>-->
<!--                        </div>-->
<!--                    </form>-->

<!--                </div>&lt;!&ndash; newsletter-widget &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>&lt;!&ndash; .offcanvas-menu &ndash;&gt;-->
</div><!-- /st-container -->


<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- owl.carousel -->
<script src="{% static 'owl.carousel/owl.carousel.min.js' %}"></script>
<!-- Magnific-popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Offcanvas Menu -->
<script src="{% static 'js/hippo-offcanvas.js' %}"></script>
<!-- inview -->
<script src="{% static 'js/jquery.inview.min.js' %}"></script>
<!-- stellar -->
<script src="{% static 'js/jquery.stellar.js' %}"></script>
<!-- countTo -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<!-- classie -->
<script src="{% static 'js/classie.js' %}"></script>
<!-- selectFx -->
<script src="{% static 'js/selectFx.js' %}"></script>
<!-- sticky kit -->
<script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
<!-- GOGLE MAP -->
<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<!--TWITTER FETCHER-->
<script src="{% static 'js/twitterFetcher_min.js' %}"></script>
<!-- Authorization / Registration -->
    <script src="{% static 'js/accaunt.js' %}"></script>
<!-- Custom Script -->
<script src="{% static 'js/scripts.js' %}"></script>
{% block extra_scripts %}

{% endblock %}
</body>
</html>
