{% extends 'home/base.html' %}

{% block content %}

<section class="page-title-section">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<div class="page-header-wrap">
										<div class="page-header">
									   		<h1>Контакты</h1>
									   	</div>
									   <ol class="breadcrumb">
										  <li><a href="../index.html">Главная</a></li>
										  <li class="active">Контакты</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</section>

					<!-- section-contact-info-section -->
					<section class="contact-info-section">
						<div class="container">
							<div class="text-center">
								<h2 class="section-title">Обратная связь</h2>
								<span class="section-sub">Мы готовы помочь Вам 24/7</span>
							</div>

							<div class="row content-row">

								<div class="col-md-7">
									<div class="contact-map">
										<h3>Форма обратной связи</h3>
										<form id="mainContact" action="#" method="POST">
                                            {% csrf_token %}
                                            {{ form.as_p }}
<!--											<div class="form-group">-->
<!--											    <label for="name">Ваши имя</label>-->
<!--											    <input name="name" type="text" class="form-control"  required="" placeholder="">-->
<!--											</div>-->
<!--										  	<div class="form-group">-->
<!--										    	<label for="email">Ваш E-mail адрес</label>-->
<!--										    	<input name="email" type="email" class="form-control" required="" placeholder="">-->
<!--										  	</div>-->

<!--											<div class="row">-->
<!--												<div class="col-md-6">-->
<!--												  <div class="form-group">-->
<!--												    <label for="subject">Тема</label>-->
<!--												    <input name="subject" type="text" class="form-control" required="" placeholder="">-->
<!--												  </div>-->
<!--												</div>-->
<!--												<div class="col-md-6">-->
<!--												  <div class="form-group">-->
<!--												    <label for="phone">Номер телефона</label>-->
<!--												    <input name="phone" type="text" class="form-control" placeholder="">-->
<!--												  </div>-->
<!--												</div>-->
<!--											</div>-->
<!--											<div class="form-group text-area">-->
<!--												<label for="message">Ваше сообщение</label>-->
<!--												<textarea name="message" class="form-control" rows="6" required="" placeholder=""></textarea>-->
<!--											</div>-->

											<button type="submit" class="btn btn-primary">Отправить</button>
										</form>
									</div>
								</div>

								<div class="col-md-5">
									<div class="contact-info">
										<h3>Наш офис</h3>

										<address>
                                            {{ info.address }}<br>

                                            <!-- Google Map Modal Trigger -->
                                            <!-- <button type="button" class="modal-map" data-toggle="modal" data-target="#cssMapModal">Показать на карте</button> -->

                                            <span class="tel">Тел. {{ info.phone }}</span>
                                        </address>
									</div><!-- /.contact-info -->
								</div>
							</div>
						</div>
					</section>
					<!-- section-contact-info-section end-->

{% endblock %}