{% extends 'home/base.html' %}

{% block content %}

<div id="main-carousel" class="carousel slide hero-slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for slider in page.slider %}

        {% for slide in slider.value %}
        <li data-target="#main-carousel" data-slide-to="{{ forloop.counter0 }}"
            class="{% if forloop.counter == 1 %} active {% endif %}"></li>
        <!--                    <li data-target="#main-carousel" data-slide-to="1"></li>-->
        {% endfor %}
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for slider in page.slider %}

        {% for slide in slider.value %}
        <!--						{{ slide.text }}<hr>-->
        <div class="item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="media/original_images/{{ slide.image }}" alt="Hero Slide">
            <!--Slide Image-->

            <div class="container">
                <div class="carousel-caption">
                    <!--								  <small class="animated fadeIn">Позвоните нам сегодня</small>-->
                    <!--								  <div class="phone animated lightSpeedIn"> 8-800-555</div>-->
                    <h1 class="animated lightSpeedIn" style="color: #fff;">{{ slide.text}}</h1>

                </div>
                <!--.carousel-caption-->
            </div>
            <!--.container-->
        </div>
        {% endfor %}
        {% endfor %}

        <!--.item-->

        <!--                  <div class="item">-->
        <!--                      <img src="http://via.placeholder.com/1400x640" alt="Hero Slide">-->
        <!--                      &lt;!&ndash;Slide Image&ndash;&gt;-->

        <!--                      <div class="container">-->
        <!--                          <div class="carousel-caption">-->

        <!--                              <h1 class="animated bounceIn">Мы ценим Ваши время и деньги</h1>-->

        <!--                              <p class="lead animated bounceIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dicta iure, accusantium provident repellat excepturi sapiente doloremque eveniet delectus sequi sunt qui ab laboriosam omnis ipsa, enim ducimus repudiandae tempora.</p>-->
        <!--                          </div>-->
        <!--                          &lt;!&ndash;.carousel-caption&ndash;&gt;-->
        <!--                      </div>-->
        <!--                      &lt;!&ndash;.container&ndash;&gt;-->
        <!--                  </div>-->
        <!--.item-->
    </div>
    <!--.carousel-inner-->

    <!-- Controls -->
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- #main-carousel-->


<!-- services start -->
<section class="service-home section-padding">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title">Наши услуги</h2>
                <!--                            <span class="section-sub">Nullam ac urna ey felis dapibus<br> condimeytum sit amet</span>-->
            </div>
        </div> <!-- /.row -->

        <div class="row content-row">
            <div class="col-sm-3">
                <!-- <div class="service">
                    <div class="service-thumb-home">
                      <a href="#"><img src="http://via.placeholder.com/418x213" alt=""></a>
                    </div>

                    <h3>Логистика</h3>
                    <p>Holisticly synergize maintainable intellectual<br> capital via viral interfaces. Energistically<br> embrace funyctionalized </p>
                    <a class="readmore" href="#">Читать далее &nbsp;<i class="fa fa-angle-right"></i> </a>
                </div> -->
            </div><!-- /.col-sm-4 -->
            {% for item in page.services %}
            {% for service in item.value %}
            <div class="col-sm-3">
                <div class="service">
                    <div class="service-thumb-home">
                        <a href="#"><img src="media/original_images/{{service.image}}" alt=""></a>
                    </div>
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                    <a class="readmore" href="{{ service.page.url }}">Подробнее &nbsp;<i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div><!-- /.col-sm-4 -->
            {% endfor %}
            {% endfor %}


            <div class="row content-row">
                <div class="col-sm-3">
                    <!-- <div class="service">
                        <div class="service-thumb-home">
                            <a href="#"><img src="http://via.placeholder.com/418x213" alt=""></a>
                        </div>

                        <h3>Логистика</h3>
                        <p>Holisticly synergize maintainable intellectual<br> capital via viral interfaces. Energistically<br> embrace funyctionalized </p>
                        <a class="readmore" href="#">Читать далее &nbsp;<i class="fa fa-angle-right"></i> </a>
                    </div> -->
                </div><!-- /.col-sm-4 -->
            </div> <!-- /.row -->
        </div>
    </div><!-- /.container -->
</section>
<!-- services end -->

<!-- featuer-section start -->
<section class="feature-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <h2> {{ page.text1_title}}</h2>

                <p>{{ page.text1 }}</p>


                <!--							<a href="#" class="btn btn-primary">Подробнее</a>-->
            </div>

        </div>
    </div>
</section>
<!-- featuer-section end -->

<!-- why-us-setion start -->
<section class="why-us-setion section-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h2 class="section-title">Почему мы?</h2>
                <span class="section-sub">{{ page.why_me }}</span>
            </div>
        </div> <!-- /.row -->

        <div class="row content-row">

            <div class="col-md-12">
                <div class="css-tab" role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        {% for advantage in page.advantages %}
                        {% for item in advantage.value %}
                        <!--													   {{ item }}-->
                        <li role="presentation" class="{% if forloop.counter == 1 %}active {% endif %}"><a
                                href="#{{ item.id }}" aria-controls="{{ item.id }}" role="tab" data-toggle="tab"><i
                                class="{{ item.icom_class}}"></i> {{ item.name }}</a></li>
                        {% endfor %}
                        {% endfor %}

                        <!--												<li role="presentation" class="active"><a href="#secure" aria-controls="secure" role="tab" data-toggle="tab"><i class="flaticon-logistics15"></i> Безопасно</a></li>-->
                        <!--												&lt;!&ndash; <li role="presentation"><a href="#trackable" aria-controls="trackable" role="tab" data-toggle="tab"><i class="flaticon-logistics18"></i> Отслеживание</a></li> &ndash;&gt;-->
                        <!--												<li role="presentation"><a href="#fast" aria-controls="fast" role="tab" data-toggle="tab"><i class="flaticon-logistics16"></i> Быстро</a></li>-->
                        <!--												<li role="presentation"><a href="#reliable" aria-controls="reliable" role="tab" data-toggle="tab"><i class="flaticon-broken43"></i> Надежно</a></li>-->
                    </ul>
                    <div class="tab-content">
                        <!-- Tab panes -->
                        {% for advantage in page.advantages %}
                        {% for item in advantage.value %}

                        <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active {% endif %} fade in"
                             id="{{ item.id }}">
                            <div class="css-tab-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="media/original_images/{{item.image}}" alt="">
                                    </div><!-- /.col-md-6 -->

                                    <div class="col-md-6 content-text">
                                        <h3>{{ item.title }}</h3>

                                        <p>{{ item.text }}</p>

                                        <!--                                                    <p>Efficiently transform an expanded array of methodologies rather-->
                                        <!--                                                        than customized infomediaries.</p>-->
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->
                            </div><!-- /.css-tab-content -->
                        </div>

                        {% endfor %}
                        {% endfor %}
                        <!--&lt;!&ndash;                                    <div class="tab-content">&ndash;&gt;-->
                        <!--                                        <div role="tabpanel" class="tab-pane active fade in" id="secure">-->
                        <!--                                            <div class="css-tab-content">-->
                        <!--                                                <div class="row">-->
                        <!--                                                    <div class="col-md-6">-->
                        <!--                                                        <img src="http://via.placeholder.com/425x300" alt="">-->
                        <!--                                                    </div>&lt;!&ndash; /.col-md-6 &ndash;&gt;-->

                        <!--                                                    <div class="col-md-6 content-text">-->
                        <!--                                                        <h3>Continually disintermediate</h3>-->

                        <!--                                                        <p>Credibly build virtual materials for fully researched-->
                        <!--                                                            paradigms. Authoritatively plagiarize long-term high-impact-->
                        <!--                                                            infomediaries with goal-oriented core competencies.-->
                        <!--                                                            Conveniently visualize process-centric applications through-->
                        <!--                                                            leading-edge testing procedures. Quickly build backend-->
                        <!--                                                            customer service for real-time metrics.</p>-->

                        <!--                                                        <p>Efficiently transform an expanded array of methodologies-->
                        <!--                                                            rather than customized infomediaries.</p>-->
                        <!--                                                    </div>&lt;!&ndash; /.col-md-6 &ndash;&gt;-->
                        <!--                                                </div>&lt;!&ndash; /.row &ndash;&gt;-->
                        <!--                                            </div>&lt;!&ndash; /.css-tab-content &ndash;&gt;-->
                        <!--                                        </div>-->

                        <!--                                        <div role="tabpanel" class="tab-pane fade" id="fast">-->
                        <!--                                            <div class="css-tab-content">-->
                        <!--                                                <div class="row">-->
                        <!--                                                    <div class="col-md-6">-->
                        <!--                                                        <img src="http://via.placeholder.com/425x300" alt="">-->
                        <!--                                                    </div>&lt;!&ndash; /.col-md-6 &ndash;&gt;-->

                        <!--                                                    <div class="col-md-6 content-text">-->
                        <!--                                                        <h3>Continually disintermediate</h3>-->

                        <!--                                                        <p>Credibly build virtual materials for fully researched-->
                        <!--                                                            paradigms. Authoritatively plagiarize long-term high-impact-->
                        <!--                                                            infomediaries with goal-oriented core competencies.-->
                        <!--                                                            Conveniently visualize process-centric applications through-->
                        <!--                                                            leading-edge testing procedures. Quickly build backend-->
                        <!--                                                            customer service for real-time metrics.</p>-->

                        <!--                                                        <p>Efficiently transform an expanded array of methodologies-->
                        <!--                                                            rather than customized infomediaries.</p>-->
                        <!--                                                    </div>&lt;!&ndash; /.col-md-6 &ndash;&gt;-->
                        <!--                                                </div>&lt;!&ndash; /.row &ndash;&gt;-->
                        <!--                                            </div>&lt;!&ndash; /.css-tab-content &ndash;&gt;-->
                        <!--                                        </div>-->
                        <!--                                        <div role="tabpanel" class="tab-pane fade" id="reliable">-->
                        <!--                                            <div class="css-tab-content">-->
                        <!--                                                <div class="row">-->
                        <!--                                                    <div class="col-md-6">-->
                        <!--                                                        <img src="http://via.placeholder.com/425x300" alt="">-->
                        <!--                                                    </div>&lt;!&ndash; /.col-md-6 &ndash;&gt;-->

                        <!--                                                    <div class="col-md-6 content-text">-->
                        <!--                                                        <h3>Continually disintermediate</h3>-->

                        <!--                                                        <p>Credibly build virtual materials for fully researched-->
                        <!--                                                            paradigms. Authoritatively plagiarize long-term high-impact-->
                        <!--                                                            infomediaries with goal-oriented core competencies.-->
                        <!--                                                            Conveniently visualize process-centric applications through-->
                        <!--                                                            leading-edge testing procedures. Quickly build backend-->
                        <!--                                                            customer service for real-time metrics.</p>-->

                        <!--                                                        <p>Efficiently transform an expanded array of methodologies-->
                        <!--                                                            rather than customized infomediaries.</p>-->
                        <!--                                                    </div>&lt;!&ndash; /.col-md-6 &ndash;&gt;-->
                        <!--                                                </div>&lt;!&ndash; /.row &ndash;&gt;-->
                        <!--                                            </div>&lt;!&ndash; /.css-tab-content &ndash;&gt;-->
                        <!--                                        </div>-->
                    </div>
                </div><!-- /.css-tab -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- why-us-setion end -->
{% endblock %}