{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>Информация о заказе</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="../index.html">Главная</a></li>
                        <li class="active">Информация о заказе</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Order-info-Start -->
<section class="accaunt">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Информация о заказе </h2>
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Оплатить
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Выберите платежную систему</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4" style="border: 2px dashed #eee">
                                            <div class="card">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img src="/media/original_images/c3m0fniv.jpg" width="256px"
                                                             height="40px">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="#">Мир</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="border: 2px dashed #eee">
                                            <div class="card">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img src="/media/original_images/PayPal.svg_.png" width="256px"
                                                             height="40px">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="#">PayPal</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="border: 2px dashed #eee">
                                            <div class="card">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img src="/media/original_images/zagruzhennoe.png" width="256px"
                                                             height="40px">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="#">Qiwi</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="border: 2px dashed #eee">
                                            <div class="card">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img src="/media/original_images/logotip-yandex-money.png"
                                                             width="256px" height="40px">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="#">Yandex</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

                <table class="table table-hover shoplist">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Куда</th>
                        <th>Откуда</th>
                        <th>Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-sizes="[&quot;4&quot;, &quot;3&quot;, &quot;2&quot;, &quot;1&quot;]">
                        <td>{{ order.service.name }}</td>
                        <td>{{ order.place_to }}</td>
                        <td>{{ order.place_from }}</td>
                        <td><i class="fa fa-calendar"></i> &nbsp;
                            {{ order.datetime }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <div class="row service-info">
            <div class="col-md-8 col-sm-8 col-xs-12 order-info">
                <h3>Чат с Администратором</h3>
                <ul class="media-list">
                    {% for message in messages %}
                    <li class="media">
                        <div class="media-body">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <!--                                    <img class="media-object img-circle " src="http://via.placeholder.com/48x48">-->
                                </a>
                                <div class="media-body">
                                    {{ message.text }}
                                    <br>
                                    <small class="text-muted">{{ message.sender.email }} | {{ message.datetime }}
                                    </small>
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <form method="post">
                    {% csrf_token %}
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="text" name="text" placeholder="Сообщение..." class="form-control"/>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <button type="submit" class="btn btn-info btn-block">Отправить</button>
                    </div>
                </form>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 doc">
                <h3>Документы</h3>
                <ul>
                    {% for document in documents %}
                    <li><a href="{{ document.document.url }}" title="{{ document.document.name }} "><i
                            class="fa fa-file"></i> {{ document.document }}</a></li>
                    {% endfor %}
                    <!--                    <li><a href="#" title="Документ"> <i class="fa fa-file"></i> Документ2</a></li>-->
                    <!--                    <li><a href="#" title="Документ"> <i class="fa fa-file"></i> Документ3</a></li>-->
                    <!--                    <li><a href="#" title="Документ"> <i class="fa fa-file"></i> Документ4</a></li>-->

                </ul>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ upload_file_form.file }}
                    <input type="text" name="type" class="form-control-file border" value="file" hidden>
                    <button type="submit" class="btn btn-info btn-block">Добавить выбранный файл</button>

                </form>
            </div>

        </div>
    </div>
</section>
<!-- Order-info-End-->


<!-- Lk-End-->

{% endblock %}
