{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>Личный кабинет</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="../index.html">Главная</a></li>
                        <li class="active">Личный кабинет</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Lk-Start -->
<section class="accaunt">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">

                <div class="avatar">
                    <figure class="upload">
                        <img alt="User Pic"
                             src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                             id="profile-image1" class="img-circle img-responsive">
                    </figure>
                    <input id="profile-image-upload" class="hidden" type="file">
<!--                    <div>Обновить фото</div>-->
                </div>

                <ul class="nav nav-pills nav-stacked admin-menu">
                    <li class="active"><a href="" data-target-id="profile"><i class="fa fa-user"></i> </i> Профиль</a>
                    </li>
                    <li><a href="" data-target-id="orders"><i class="fa fa-truck"></i> Заказы</a></li>
                </ul>
            </div>
            <div class="container">

                <div class="col-md-6 col-sm-6 col-xs-12 admin-content" id="profile">
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading company-info">
                            <h3 class="panel-title">Наименование</h3>
                        </div>
                        <div class="panel-body">
                            {{ user.name }}
                        </div>
                    </div>
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading company-info">
                            <h3 class="panel-title">ИНН</h3>
                        </div>
                        <div class="panel-body">
                            {{ user.inn }}
                        </div>
                    </div>
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading company-info">
                            <h3 class="panel-title">Ваш E-mail</h3>
                        </div>
                        <div class="panel-body">
                            {{ user.email }}
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12 admin-content" id="orders">
                    <h1>Ваши заказы</h1>
                    <table class="table table-hover shoplist">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Куда</th>
                            <th>Откуда</th>
                            <th>Дата</th>
                            <th>Подробнее</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}


                        <tr class="shopunit"
                            data-sizes="[&quot;4&quot;, &quot;3&quot;, &quot;2&quot;, &quot;1&quot;]">


                            <td>{{ order.name }}</td>
                            <td>{{ order.place_to }}</td>
                            <td>{{ order.place_from }}</td>
                            <td><i class="fa fa-calendar"></i> &nbsp;{{ order.datetime }}</td>
                            <td><a href="/orders?id={{ order.id }}">Подробнее...</a></td>


                        </tr>

                        {% endfor %}
                        <!--                    <tr onclick="DoNav('order_info.html')" class="shopunit"-->
                        <!--                        data-sizes="[&quot;4&quot;, &quot;3&quot;, &quot;2&quot;, &quot;1&quot;]">-->
                        <!--                        <td>Пункт назначения</td>-->
                        <!--                        <td>Пункт отправки</td>-->
                        <!--                        <td><i class="fa fa-calendar"></i>&nbsp;28.05.2019</td>-->
                        <!--                    </tr>-->

                        <!--                    <tr onclick="DoNav('order_info.html')" class="shopunit"-->
                        <!--                        data-sizes="[&quot;4&quot;, &quot;3&quot;, &quot;2&quot;, &quot;1&quot;]">-->
                        <!--                        <td>Пункт назначения</td>-->
                        <!--                        <td>Пункт отправки</td>-->
                        <!--                        <td><i class="fa fa-calendar"></i>&nbsp;28.05.2019</td>-->
                        <!--                    </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Lk-End-->

{% endblock %}