{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1> {{ service.link_page.title }}</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Главная</a></li>
                        <li class="active">{{ service.link_page.title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Single-Service-Start -->
<section class="single-service-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-sidebar sidebar-wrapper">

<!--                    <div class="widget">-->
<!--                        <h2 class="widget-title">{{ service.link_page.title }}</h2>-->
<!--                        <ul class="service-list">-->
<!--&lt;!&ndash;                            &ndash;&gt;-->
<!--&lt;!&ndash;                            <li class="active"><a href="#">Услуга1</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="#">Услуга2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="#">Услуга3</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="#">Услуга4</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="#">Услуга5</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a href="#">Услуга6</a></li>&ndash;&gt;-->
<!--                        </ul>-->
<!--                    </div>&lt;!&ndash; /.widget &ndash;&gt;-->
                    <div class="widget">
                        <h2 class="widget-title">Режим работы</h2>
                        <div class="textwidget">
                            <p>Понедельник -
                                Пятница: 9:00 - 18:00<br>
                                Суббота: 9:00 - 14:00<br>
                                В праздничные дни: 9:00 - 12:00</p>
                        </div>
                    </div><!-- /.widget -->
                </div><!-- /.sidebar-wrapper -->
            </div><!-- /.col -->
            <div class="col-md-8 col-sm-8 col-xs-12">
                <img class="img-alignnone" src="/media/{{ service.image }}" alt="image">
                <h2> {{ service.name }}</h2>
                <P>{{ service.description }}</P>
                <!-- Button trigger modal -->
                {% if user.is_authenticated %}
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Заказать услугу
                </button>
                {% else %}
                <h4>Чтобы оставить заявку, <a href="/sign_in">зарегистрируйтесь или войдите</a></h4>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-center">
                        <div class="modal-dialog .modal-align-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">{{ service.name }}</h4>
                                    <button type="button" class="close modal-reviews" data-dismiss="modal"><span
                                            aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                </div>
                                <form id="mainContact" method="post">
                                       {% csrf_token %}
                                <div class="modal-body reviews">
                                     <input name="id" type="text"   value="{{ service.id }}" hidden>

                                        <div class="form-group">
                                            <label for="start">Выбрать дату: </label>
                                            <input type="date" id="theDate" name="trip-start" min="2018-01-01"
                                                   max="3000-01-01">
                                        </div>
                                        <div class="form-group">
                                            <label for="of">Откуда</label>
                                            <input name="place_from" id="of" type="text" class="form-control" required=""
                                                   placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="at">Куда</label>
                                            <input name="place_to" id="at" type="text" class="form-control" required=""
                                                   placeholder="">
                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary">Заказать</button>
                                </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal-center -->
                </div><!-- /.modal -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- Single-Service-End-->



{% endblock %}

{% block extra_scripts %}
<script>

var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;
$("#theDate").attr("value", today);

</script>
{% endblock %}