{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>Отзывы</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Главная</a></li>
                        <li class="active">Отзывы</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- testimonial-section start -->
<section class="testimonial-section section-padding">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title">Нам доверяют</h2>
                <span class="section-sub"> {{ page.text }} </span>
            </div>
        </div> <!-- /.row -->

        <div class="row row-content">
            <div class="col-md-12">
                <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for review in reviews %}
                        <li data-target="#testimonial-carousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                        {% endfor %}
<!--                        <li data-target="#testimonial-carousel" data-slide-to="1"></li>-->
<!--                        <li data-target="#testimonial-carousel" data-slide-to="2"></li>-->
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for review in reviews %}
                        <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                            <div class="testimonial-content">
                                <p>{{ review.text }}</p>
                                <span class="client-title">{{ review.user.name}} (email: {{ review.user.email }})</span>
                            </div><!-- /.testimonial-content -->
                        </div>
                        {% endfor %}
<!--                        <div class="item active">-->
<!--                            <div class="testimonial-content">-->
<!--                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores facere illum unde-->
<!--                                    dicta. Rem, nesciunt rerum totam nisi in velit omnis quaerat eius fugit, error-->
<!--                                    cupiditate quibusdam? Accusantium, soluta ex.</p>-->
<!--                                <span class="client-title">- Виктор -</span>-->
<!--                            </div>&lt;!&ndash; /.testimonial-content &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="testimonial-content">-->
<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptas voluptate-->
<!--                                    facilis illum quia iusto dolorum nobis quas assumenda praesentium perspiciatis-->
<!--                                    magnam quibusdam eaque possimus id, autem reprehenderit, dicta error.</p>-->
<!--                                <span class="client-title">- Андрей -</span>-->
<!--                            </div>&lt;!&ndash; /.testimonial-content &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="testimonial-content">-->
<!--                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore, nulla-->
<!--                                    repellendus sunt repudiandae dicta facilis veniam quod qui deleniti optio molestiae-->
<!--                                    architecto distinctio expedita rerum aperiam cupiditate perspiciatis assumenda.</p>-->
<!--                                <span class="client-title">- Елена -</span>-->
<!--                            </div>&lt;!&ndash; /.testimonial-content &ndash;&gt;-->
<!--                        </div>-->
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#testimonial-carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#testimonial-carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!-- /.carousel -->

                <!-- Button trigger modal -->
                {% if user.is_authenticated %}
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Оставить отзыв
                </button>
                {% else %}
                    <h3>Чтобы оставить отзыв, <a href="/sign_in">войдите</a></h3>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-center">
                        <div class="modal-dialog .modal-align-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Оставить отзыв</h4>
                                    <button type="button" class="close modal-reviews" data-dismiss="modal"><span
                                            aria-hidden="true">×</span><span class="sr-only">Close</span>

                                    </button>
                                </div>
                                <div class="modal-body reviews">

                                    <form id="mainContact"  method="POST">
                                        {% csrf_token %}
                                        <div class="form-group text-area">
                                            <label for="message">Ваше сообщение</label>
                                            <textarea name="message" class="form-control" rows="6" required=""
                                                      placeholder=""></textarea>
                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal-center -->
                </div><!-- /.modal -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- testimonial-section end -->


{% endblock %}