{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>{{ page.title }}</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Главная</a></li>
                        {% if page.parent != None %}
                        <li><a href="{{ page.parent.url }}">{{ page.parent.title}}</a></li>
                        {% endif %}
                        <li class="active"><a href="{{ page.url }}">{{ page.title }}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Single-Service-Start -->
<section class="single-service-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-sidebar sidebar-wrapper">

                    <div class="widget">
                        <h2 class="widget-title">{{ page.title }}, Разделы:</h2>
                        <ul class="service-list">
                            {% for subsection in subsections %}

                                    <li><a href="{{ subsection.url }}">{{ subsection.title }}</a></li>

                            {% endfor %}
<!--                            <li class="active"><a href="#">Услуга</a></li>-->
<!--                            <li><a href="#">Услуга</a></li>-->
<!--                            <li><a href="#">Услуга</a></li>-->
<!--                            <li><a href="#">Услуга</a></li>-->
<!--                            <li><a href="#">Услуга</a></li>-->
<!--                            <li><a href="#">Услуга</a></li>-->
                        </ul>
                    </div><!-- /.widget -->
                    <div class="widget">
                        <h2 class="widget-title">Режим работы</h2>
                        <div class="textwidget">
                            <p>Понедельник -
                                Пятница: 9:00 - 18:00<br>
                                Суббота: 9:00 - 14:00<br>
                                В праздничные дни: 9:00 - 12:00</p>
                        </div>
                    </div><!-- /.widget -->
                </div><!-- /.sidebar-wrapper -->
            </div><!-- /.col -->
            <div class="col-md-8 col-sm-8 col-xs-12">
                <img class="img-alignnone" src="/media/{{ page.image }}" alt="image">
                <h2>{{ page.title_text }}</h2>
                <p>{{ page.text }}</p>
                <div class="container-fluid">
                    <div class="row">
                        {% for service in services %}
                        <div class="col-md-6" style=" padding: 5px; height: 470px" >
                            <div class="container-fluid" style="height: 100%;box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75); padding: 5px;">
                                <div class="card" >
                                  <img class="" src="/media/{{ service.image }}" alt="Card image" style="height: 235px; width: 355px; ">
                                    <a href="/service?id={{ service.id }}" class="btn btn-sm btn-primary" style="margin-top: 5px;">Подробнее...</a>
                                  <div class="">
                                    <h4 class="card-title">{{ service.name }}</h4>
                                    <p class="card-text">{{ service.description }}</p>

                                  </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
<!--                        <div class="col-md-6" style=" padding: 5px;">-->
<!--                            <div class="container-fluid" style="height: 100%;box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75); padding: 5px;">-->
<!--                                <div class="card" >-->
<!--                                  <img class="card-img-top" src="{% static 'img/_4w3BqoXgFg.jpg' %}" alt="Card image" style="width:100%;  ">-->
<!--                                  <div class="">-->
<!--                                    <h4 class="card-title">John Doe</h4>-->
<!--                                    <p class="card-text">Some example text.</p>-->
<!--                                    <a href="#" class="btn btn-sm btn-primary">See Profile</a>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6" style=" padding: 5px;">-->
<!--                            <div class="container-fluid" style="height: 100%;box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75); padding: 5px;">-->
<!--                                <div class="card" >-->
<!--                                  <img class="card-img-top" src="{% static 'img/_4w3BqoXgFg.jpg' %}" alt="Card image" style="width:100%;  ">-->
<!--                                  <div class="">-->
<!--                                    <h4 class="card-title">John Doe</h4>-->
<!--                                    <p class="card-text">Some example text.</p>-->
<!--                                    <a href="#" class="btn btn-sm btn-primary">See Profile</a>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6" style=" padding: 5px;">-->
<!--                            <div class="container-fluid" style="height: 100%;box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75); padding: 5px;">-->
<!--                                <div class="card" >-->
<!--                                  <img class="card-img-top" src="{% static 'img/_4w3BqoXgFg.jpg' %}" alt="Card image" style="width:100%;  ">-->
<!--                                  <div class="">-->
<!--                                    <h4 class="card-title">John Doe</h4>-->
<!--                                    <p class="card-text">Some example text.</p>-->
<!--                                    <a href="#" class="btn btn-sm btn-primary">See Profile</a>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->




                    </div>

                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- Single-Service-End-->

{% endblock %}