{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>Авторизация</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="../index.html">Главная</a></li>
                        <li class="active">Авторизация</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Accaunt-Start -->
<section class="accaunt">
    <div class="login-reg-panel">
        <form method="post">
            {% csrf_token %}
            <div class="login-info-box">
                <h2>Вход</h2>
                <p>Lorem ipsum dolor sit amet</p>
                <label id="label-register" for="log-reg-show">Авторизоваться</label>
                <input type="radio" name="login" id="log-reg-show" checked="checked">
            </div>

            <div class="register-info-box">
                <h2>Регистрация</h2>
                <p>Lorem ipsum dolor sit amet</p>
                <label id="label-login" for="log-login-show">Зарегистрироваться</label>
                <input type="radio" name="register" id="log-login-show">
            </div>

            <div class="white-panel">
                <div class="login-show">
                    <h2>Авторизация</h2>

                        <input type="text" placeholder="Ваш E-mail" name="lemail">
                        <input type="password" placeholder="Пароль" name="lpassword">
                        <input type="submit" value="Войти">

                    <!-- <a href="">Forgot password?</a> -->
                </div>
                <div class="register-show">
                    <h2>Регистрация</h2>
                    <input type="text" placeholder="ИНН Вашей фирмы" name="inn">
                    <input type="text" placeholder="Название Вашей фирмы" name="name">
                    <input type="text" placeholder="Ваш E-mail" name="remail">
                    <input type="password" placeholder="Пароль" name="rpassword">
<!--                    <input type="password" placeholder="Повторить пароль">-->
                    <input type="submit" value="Зарегистрироваться">
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Accaunt-End-->

{% endblock %}